<a href="https://colab.research.google.com/github/MMQuants/COT_report/blob/main/COT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [3]:
url = (
    "https://publicreporting.cftc.gov/resource/gpe5-46if.csv"
    "?market_and_exchange_names=BITCOIN%20-%20CHICAGO%20MERCANTILE%20EXCHANGE"
)

df = pd.read_csv(url, parse_dates=["report_date_as_yyyy_mm_dd"])

df.sort_values("report_date_as_yyyy_mm_dd", inplace=True)

df.tail()

,id,market_and_exchange_names,report_date_as_yyyy_mm_dd,yyyy_report_week_ww,contract_market_name,cftc_contract_market_code,cftc_market_code,cftc_region_code,cftc_commodity_code,commodity_name,...,conc_net_le_4_tdr_long_all,conc_net_le_4_tdr_short_all,conc_net_le_8_tdr_long_all,conc_net_le_8_tdr_short_all,contract_units,cftc_subgroup_code,commodity,commodity_subgroup_name,commodity_group_name,futonly_or_combined
402,251223133741F,BITCOIN - CHICAGO MERCANTILE EXCHANGE,2025-12-23,2025 Report Week 51,BITCOIN,133741,CME,CHI,133,BITCOIN,...,64.6,26.4,72.1,41.4,(5 Bitcoins),F85,BITCOIN,DIGITAL ASSET,FINANCIAL INSTRUMENTS,FutOnly
403,251230133741F,BITCOIN - CHICAGO MERCANTILE EXCHANGE,2025-12-30,2025 Report Week 52,BITCOIN,133741,CME,CHI,133,BITCOIN,...,69.7,29.5,76.4,44.8,(5 Bitcoins),F85,BITCOIN,DIGITAL ASSET,FINANCIAL INSTRUMENTS,FutOnly
404,260106133741F,BITCOIN - CHICAGO MERCANTILE EXCHANGE,2026-01-06,2026 Report Week 01,BITCOIN,133741,CME,CHI,133,BITCOIN,...,67.8,28.6,74.7,42.5,(5 Bitcoins),F85,BITCOIN,DIGITAL ASSET,FINANCIAL INSTRUMENTS,FutOnly
405,260113133741F,BITCOIN - CHICAGO MERCANTILE EXCHANGE,2026-01-13,2026 Report Week 02,BITCOIN,133741,CME,CHI,133,BITCOIN,...,66.7,23.6,73.1,37.6,(5 Bitcoins),F85,BITCOIN,DIGITAL ASSET,FINANCIAL INSTRUMENTS,FutOnly
406,260120133741F,BITCOIN - CHICAGO MERCANTILE EXCHANGE,2026-01-20,2026 Report Week 03,BITCOIN,133741,CME,CHI,133,BITCOIN,...,62.1,23.6,70.3,39.1,(5 Bitcoins),F85,BITCOIN,DIGITAL ASSET,FINANCIAL INSTRUMENTS,FutOnly

#Important Features

##Leveraged Funds ( speculators)

lev_money_long_all

lev_money_short_all

lev_money_spread_all

##Asset Managers

asset_mgr_long_all

asset_mgr_short_all

##Dealer / Intermediary positioning

dealer_long_all

dealer_short_all

##Open interest

open_interest_all

In [6]:
df.columns

Index(['id', 'market_and_exchange_names', 'report_date_as_yyyy_mm_dd',
       'yyyy_report_week_ww', 'contract_market_name',
       'cftc_contract_market_code', 'cftc_market_code', 'cftc_region_code',
       'cftc_commodity_code', 'commodity_name', 'open_interest_all',
       'dealer_positions_long_all', 'dealer_positions_short_all',
       'dealer_positions_spread_all', 'asset_mgr_positions_long',
       'asset_mgr_positions_short', 'asset_mgr_positions_spread',
       'lev_money_positions_long', 'lev_money_positions_short',
       'lev_money_positions_spread', 'other_rept_positions_long',
       'other_rept_positions_short', 'other_rept_positions_spread',
       'tot_rept_positions_long_all', 'tot_rept_positions_short',
       'nonrept_positions_long_all', 'nonrept_positions_short_all',
       'change_in_open_interest_all', 'change_in_dealer_long_all',
       'change_in_dealer_short_all', 'change_in_dealer_spread_all',
       'change_in_asset_mgr_long', 'change_in_asset_mgr_short',
       'change_in_asset_mgr_spread', 'change_in_lev_money_long',
       'change_in_lev_money_short', 'change_in_lev_money_spread',
       'change_in_other_rept_long', 'change_in_other_rept_short',
       'change_in_other_rept_spread', 'change_in_tot_rept_long_all',
       'change_in_tot_rept_short', 'change_in_nonrept_long_all',
       'change_in_nonrept_short_all', 'pct_of_open_interest_all',
       'pct_of_oi_dealer_long_all', 'pct_of_oi_dealer_short_all',
       'pct_of_oi_dealer_spread_all', 'pct_of_oi_asset_mgr_long',
       'pct_of_oi_asset_mgr_short', 'pct_of_oi_asset_mgr_spread',
       'pct_of_oi_lev_money_long', 'pct_of_oi_lev_money_short',
       'pct_of_oi_lev_money_spread', 'pct_of_oi_other_rept_long',
       'pct_of_oi_other_rept_short', 'pct_of_oi_other_rept_spread',
       'pct_of_oi_tot_rept_long_all', 'pct_of_oi_tot_rept_short',
       'pct_of_oi_nonrept_long_all', 'pct_of_oi_nonrept_short_all',
       'traders_tot_all', 'traders_dealer_long_all',
       'traders_dealer_short_all', 'traders_dealer_spread_all',
       'traders_asset_mgr_long_all', 'traders_asset_mgr_short_all',
       'traders_asset_mgr_spread', 'traders_lev_money_long_all',
       'traders_lev_money_short_all', 'traders_lev_money_spread',
       'traders_other_rept_long_all', 'traders_other_rept_short',
       'traders_other_rept_spread', 'traders_tot_rept_long_all',
       'traders_tot_rept_short_all', 'conc_gross_le_4_tdr_long',
       'conc_gross_le_4_tdr_short', 'conc_gross_le_8_tdr_long',
       'conc_gross_le_8_tdr_short', 'conc_net_le_4_tdr_long_all',
       'conc_net_le_4_tdr_short_all', 'conc_net_le_8_tdr_long_all',
       'conc_net_le_8_tdr_short_all', 'contract_units', 'cftc_subgroup_code',
       'commodity', 'commodity_subgroup_name', 'commodity_group_name',
       'futonly_or_combined'],
      dtype='object')

In [9]:
cotData = pd.DataFrame(df['report_date_as_yyyy_mm_dd'])

cotData["Lev_Money_Positions_Long_All"] = df["lev_money_positions_long"]
cotData["Lev_Money_Positions_Short_All"] = df["lev_money_positions_short"]
cotData["Change_in_Lev_Money_Long_All"] = df["change_in_lev_money_long"]
cotData["Change_in_Lev_Money_Short_All"] = df["change_in_lev_money_short"]
cotData["Pct_of_OI_Lev_Money_Long_All"] = df["pct_of_oi_lev_money_long"]
cotData["Pct_of_OI_Lev_Money_Short_All"] = df["pct_of_oi_lev_money_short"]
cotData["Flip"] = cotData["Pct_of_OI_Lev_Money_Long_All"] - cotData["Pct_of_OI_Lev_Money_Short_All"]
cotData.head()

cotData

,report_date_as_yyyy_mm_dd,Lev_Money_Positions_Long_All,Lev_Money_Positions_Short_All,Change_in_Lev_Money_Long_All,Change_in_Lev_Money_Short_All,Pct_of_OI_Lev_Money_Long_All,Pct_of_OI_Lev_Money_Short_All,Flip
333,2018-04-10,902,1108,NaN,NaN,53.0,65.1,-12.1
332,2018-04-17,1053,1313,151.0,205.0,51.9,64.7,-12.8
331,2018-04-24,1194,1682,141.0,369.0,50.2,70.7,-20.5
330,2018-05-01,1198,1348,4.0,-334.0,60.2,67.7,-7.5
329,2018-05-08,1284,1707,86.0,359.0,51.7,68.7,-17.0
...,...,...,...,...,...,...,...,...
402,2025-12-23,2686,13937,-406.0,-1698.0,12.2,63.4,-51.2
403,2025-12-30,2115,13026,-571.0,-911.0,10.5,64.6,-54.1
404,2026-01-06,2554,14294,439.0,1268.0,11.5,64.5,-53.0
405,2026-01-13,2690,15408,136.0,1114.0,11.3,64.6,-53.3
406,2026-01-20,4591,16149,1901.0,741.0,18.7,65.8,-47.1